doctype html
html(data-bs-theme="dark")  
    head
        include header/header.pug
        
    body
        div(class="container content-center p-2" style="min-height: 84vh;")#content_container
            h2(class="border-bottom p-2")="Test"
            block content
        
        